<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Top music</title>

    <style>
        .track-item {
            align-content: center;
            color: blue;
            height: 5rem;
        }

        .artist-name {
            font-size: 20px;
        }

        .track-name {
            text-underline: blue;
            text-decoration: underline;
        }

        #top-tracks {
            vertical-align: center;
            align-content: center;
            flex-flow: column;
            display: flex;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">FreeSpotify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_top' %}">TOP</a>
            </li>
        </ul>


        <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'view_top' %}">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                   name="artist_name">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
</nav>

<div id="top-tracks">
    <ol>
        {% for track_info in tracks_info %}
        <li class="track-item">
            <strong class="artist-name"><a href="{{ track_info.artist_link}}">{{ track_info.artist_name }}</a></strong>
            <span class="track-name">{{ track_info.name }}</span><br>
            <span class="album-name"><a href="{{ track_info.album_link }}">({{ track_info.album_name }})</a></span>
            {{ track_info.release_date }}
        </li>

        <hr color="blue">
        {% endfor %}
    </ol>
</div>
</body>
</html>